@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kode+Mono&display=swap');

.dropbtn{
    background-color: #22272b;
    color: white;
    padding: 10px;
    font-size: 75%;
    width: 12vw;
    border: none;
    border-top-left-radius: 7.5px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 7.5px;
    border-bottom-right-radius: 7.5px;
    cursor: pointer;
} /* Button Layout */

.dropbtn:hover, .dropbtn:focus{
background-color: #22272b;
}

.dropdown{
position: relative;
display: inline-block;
} /* Dropdown Layout */

.dropdown-content {
display: none;
position: absolute;
background-color: #f1f1f1;
min-width: 12vw;
text-align: center;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
} /* Dropdown Layout */

.dropdown-content a{
color: black;
font-size: 75%;
padding: 12px 16px;
text-decoration: none;
display: block;
} /* Dropdown Layout */

.dropdown-content a:hover{
    background-color: #ddd;
} /* Dropdown Layout */

.show {display:block;}

.fight{
    display: inline-block;
    position: absolute;
    border: 1px black solid;
    margin-left: 2.5vw;
    width: 71vw;
    height: 57vh;
} /* */

.fight p{
    color: rgb(145, 145, 145);
}

#foe img{
    position: absolute;
    top: 10%;
    left: 56.5%;
    width: 17vw;
    height: 23vw;
}

#you img{
  position: absolute;
  top: 10%;
  right: 61%;
  width: 17vw;
  height: 23vw;
}

h1{
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}

h3{
    font-family: "Kode Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 160%;
}

p{
    font-family: "Kode Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

button{
    font-family: "Kode Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

a{
    font-family: "Kode Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.flipcoin{
    border: 1px black solid;
    border-radius: 5px;
    width: 25vw;
    height: 57vh;
    display: inline-block;
    text-align: center;
}

#hpbar{
    display: inline-flex;
    justify-content: center;
    gap: 7vw;
}
#hpbar p{
    padding-left: 15vw;
}
.opts{
    display: flex;
    border: 1px black solid;
    border-radius: 5px;
    width: 85vw;
    justify-content: center;
    gap: 10vw;
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
    margin-top: 2.5vh;
    margin-left: 6vw;
}

#bg{
    position: absolute;
    z-index: -3;
    width: 71vw;
    height: 57vh;
    bottom: 0%;
}

.themes{
    border: 1px solid black;
    border-radius: 5px;
    display: inline-flex;
    margin-top: 2vh;
    margin-left: 6vw;
    gap: 10vw;
    justify-content: center;
    width: 85vw;
}
.themes button{
    background-color: rgb(124, 146, 139);
    font-weight: bold;
}

.events p{
    font-size: 70%;
}
